/*อันนี้จะเป็น ของ Animation*/

.anim-container {
  margin: auto;
  width: fit-content;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  background: #ffffff;
}

.anim-field {
  position: relative;
  border: 1px solid black;
  width: 700px;
  height: 400px;
  background-image: url("/animation/fild.jpg");
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat; 
  border-radius: 1rem;
  overflow: hidden;
}


.anim-ball {
  position: absolute;
  border: 1px solid #000;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  left: calc(700px - 200px - 2px);
  top: 0;
  background-color: lightgray;
  background-position: center;
  background-size: cover;
}

/*อันนี้จะเป็น ของ components*/

.components-page {

background: linear-gradient(140deg,rgba(255, 255, 255, 1) 0%, rgba(255, 226, 94, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  border-radius: 15px;
}

.components-title {
  background-color: #013a6b;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: 0.75rem 2rem;
  border-radius: 12px;
  margin-bottom: 2rem;
  box-shadow: 3px 3px 0 #0b1e3f;
}

.components-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.component-box {
  background-color: white;
  border: 2px solid #333;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  min-height: 200px;
}

.student-name {
  margin-top: 2rem;
  background-color: rgb(59, 83, 216);
  padding: 0.5rem 1.5rem;
  border-radius: 12px;
  font-weight: bold;
}
