
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  min-height: 100vh;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #000000;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background: transparent;
  text-align: center;
  padding: 20px 0;
}

.app-header h1 {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
}


.app-navbar {
  background: transparent;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.app-navbar a,
.app-navbar button.logout-button {
  background-color: rgba(255, 127, 80, 0.9); 
  color: #fff;
  padding: 10px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.app-navbar a:hover,
.app-navbar button.logout-button:hover {
  background-color: rgba(255, 99, 71, 0.95);
  transform: translateY(-2px);
  color: #fff;
}

.app-navbar a.active {
  background-color: rgba(241, 184, 60, 0.9);
  color: #fff;
}

.app-outlet {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-size: 18px;
  color: #fff;
  background: transparent;
}

.app-footer {
  background: transparent;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  line-height: 1.6;
  color: #fff;
}

@media (max-width: 768px) {
  .app-navbar {
    flex-direction: column;
    gap: 10px;
  }

  .app-navbar a,
  .app-navbar button.logout-button {
    width: 80%;
    text-align: center;
  }
}
