
.student {
    text-align: center;
}

.cal-btn {
    width: 2.25rem;
    height: 2.25rem;
    margin: 0.175rem 0.1rem;
    border-radius: 8px;
    
}

.cal-container {
    margin: 1rem auto;
    width: fit-content;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(246, 246, 246);
    

}

.cal-display {
    border: 2px solid gray;
    border-radius: 15px;
    text-align: right;
    padding: 0.5rem;
    background-color: rgb(212, 239, 246);
    margin-bottom: 1rem;
    color: black;
}

.cal-btn-green {
    background-color: rgb(56, 255, 115);
}

.cal-btn-blue {
    background-color: rgb(39, 90, 255);
}

.cal-btn-orange {
    background-color: rgb(242, 112, 52);
}


.cal-btn-yellow {
    background-color: rgb(255, 205, 55);
}

